.dropbtn {
  padding: 8px 16px;
  border: solid 2px var(--button-border-grey);
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: black;
}

.dropbtn:not(.transparent):hover {
  background-color: var(--grey4);
}

.dropbtn:not(.dropbtn-image, .arrow_dropbtn) img {
  margin-right: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: black;
}

.dropdown-content-block {
  display: none;
  position: absolute;
  padding-top: 20px;
  z-index: 999;
}

.dropdown-content-close {
  padding-top: 5px;
}

.dropdown-content {

  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}



.dropdown:hover .dropdown-content-block {
  display: block;
}


.dropdown-left {
  right: 0;
}

.dropdown-right {
  left: 0;
}

@media screen and (max-width:500px) {
  .sm-dropdown-right {
    left: 0;
    right: auto;
  }

  .sm-dropdown-left {
    right: 0;
    left: auto;
  }
}

@media screen and (max-width:1069px) {
  .md-dropdown-right {
    left: 0;
    right: auto;
  }

  .md-dropdown-left {
    right: 0;
    left: auto;
  }
}

.dropdown-content {
  padding: 8px 0;
  border-radius: 4px;
}

.dropdown-list li {
  padding: 16px 12px;

}

.dropdown-list li a {

  display: flex;
  align-items: center;
}

.dropdown-list li img {
  margin-right: 8px;
}


[data-theme="light"] .dropdown-list li:hover {
  background-color: var(--grey5);

}

[data-theme="dark"] .dropdown-list li:hover {
  background-color: var(--bg-general);
  color: white;
}

.dropdown-list .divider {
  border-bottom: solid 1px var(--text-main-color);
}

.dropdown_color2 .dropdown-content {

  background-color: var(--bg-general);
  color: var(--text-main-color);

}

.dropdown_color2 .dropdown-content li:hover {


  background-color: var(--text-active);

}

[data-theme="light"] .dropdown_color2 .dropdown-content {

  background-color: white;
  color: black;

}

[data-theme="light"] .dropdown_color2 .dropdown-content li:hover {


  background-color: var(--grey5);

}